.hr{
    border: 1px solid grey;
}
.text-justify{
    text-align: justify;
}
.author-image{
width: 40px;
height: 40px;
}

.modal-image{
    width: 250px;
    height: 250px;
}
.sort-selection{
    width: 10%;
}